body {
  margin: 0;
  padding: 0;
  background-color:aqua;
}


header{
  background-color: aliceblue;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  box-shadow: 10px 10px 10px #100;
}

nav{
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
main{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.ancla{
  background-color: #000;
  color: #fff;
  width: 100px;
  height: 30px;
  border:  2px #fff solid;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.img{
  width: 3rem;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
}
.img2{
  width: 500px;
  height: 400px;
  border-radius: 40px;
  margin-top: 40px;
}
.title{
  color: #000;
  font-family: sans-serif
}
.title2{
  color: blue;
  font-family: sans-serif;
  margin: 10px;
  padding-top: 20px;
}

.parrafo1{
  text-align: justify;
  width: 500px;
  margin: 20px;
}
.contenedor1{
  justify-content: center;
}